<p id="notice"><%= notice %></p>

<p>
  <strong>Codproduto:</strong>
  <%= @resource.codproduto %>
</p>

<p>
  <strong>Descricao1:</strong>
  <%= @resource.descricao1 %>
</p>

<p>
  <strong>Precovenda1:</strong>
  <%= @resource.precovenda1 %>
</p>

<p>
  <strong>Aplicacao:</strong>
  <%= @resource.aplicacao %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
